# DATABASE
DB_HOST=localhost
DB_USER=root
DB_PASS=YOUR_DB_PASSWORD
DB_NAME=timeless

# AZURE TRANSLATOR
AZURE_TRANSLATOR_KEY=YOUR_AZURE_TRANSLATOR_KEY
AZURE_TRANSLATOR_REGION=global

# AZURE STORAGE & BACKUP
AZURE_STORAGE_ACCOUNT=YOUR_STORAGE_ACCOUNT
AZURE_STORAGE_CONTAINER=watches
AZURE_STORAGE_CONNECTION_STRING=YOUR_CONNECTION_STRING
AZURE_BACKUP_CONTAINER=database-backups
AZURE_SAS_TOKEN=YOUR_SAS_TOKEN

# AZURE SIGNALR
SIGNALR_ENDPOINT=YOUR_SIGNALR_ENDPOINT
SIGNALR_ACCESS_KEY=YOUR_SIGNALR_KEY
SIGNALR_HUB=orderHub

# AZURE AI SPEECH
AZURE_SPEECH_KEY=YOUR_SPEECH_KEY
AZURE_SPEECH_REGION=southeastasia

# AZURE AI SEARCH & VISION
AZURE_SEARCH_SERVICE=YOUR_SEARCH_SERVICE_NAME
AZURE_SEARCH_API_KEY=YOUR_SEARCH_API_KEY
AZURE_SEARCH_INDEX=products-index
AZURE_VISION_ENDPOINT=YOUR_VISION_ENDPOINT
AZURE_VISION_API_KEY=YOUR_VISION_API_KEY

# AZURE DOCUMENT INTELLIGENCE
DOC_INTEL_ENDPOINT=YOUR_DOC_INTEL_ENDPOINT
DOC_INTEL_KEY=YOUR_DOC_INTEL_KEY

# AZURE FUNCTIONS
AZURE_FUNCTION_PDF_URL=YOUR_FUNCTION_URL

# AZURE OPENAI
AZURE_OPENAI_KEY=YOUR_OPENAI_KEY
AZURE_OPENAI_ENDPOINT=YOUR_OPENAI_ENDPOINT

# AZURE ACS EMAIL
ACS_ENDPOINT=YOUR_ACS_ENDPOINT
ACS_ACCESS_KEY=YOUR_ACS_ACCESS_KEY
ACS_SENDER_ADDRESS=YOUR_SENDER_ADDRESS

# AZURE CONTENT SAFETY
CONTENT_SAFETY_ENDPOINT=YOUR_CONTENT_SAFETY_ENDPOINT
CONTENT_SAFETY_KEY=YOUR_CONTENT_SAFETY_KEY